*.so
test/
block_destroy-test
block_create-test
block_is_valid-test
blockchain_create-test
blockchain_destroy-test
hash_matches_difficulty-test
block_mine-test
blockchain_difficulty-test
transaction/tx_out_create-test
transaction/transaction_hash-test
transaction/tx_in_sign-test
transaction/transaction_create-test
transaction/transaction_is_valid-test
transaction/coinbase_create-test
transaction/coinbase_is_valid-test
transaction/transaction_destroy-test
block_hash-test
transaction/update_unspent-test
transaction/block_create_and__destroy-test
transactions_tests/
